# VSCode
*.vscode

# Executables
*.exe
*.out
*.app
bin/

# CMake
CMakeFiles/
build/
CMakeLists.txt.user

# Coco/R
dev/syntax_tree/Parser.h
dev/syntax_tree/Parser.cpp
dev/syntax_tree/Scanner.h
dev/syntax_tree/Scanner.cpp
*.old
